<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suypower.cloudx.module.system.dao.MenuMapper">
    <resultMap type="com.suypower.cloudx.module.system.entity.Menu" id="menuMap">
        <id property="menuID" column="MENU_ID" javaType="java.lang.String"/>
        <result property="menuName" column="NAME" javaType="java.lang.String"/>
        <result property="title" column="TITLE" javaType="java.lang.String"/>
        <result property="handler" column="HANDLE_REPRESENT" javaType="java.lang.String"/>
        <result property="order" column="DISP_SN" javaType="java.lang.Integer"/>
        <result property="orgNo" column="ORG_NO" javaType="java.lang.String"/>
        <!--<result property="folder" column="MENU_FOLDER_FLAG" javaType="java.lang.String"/>-->
        <result property="remark" column="REMARK" javaType="java.lang.String"/>
        <collection property="subMenus" select="querySubMenus" column="{P_MENU_ID=MENU_ID}"/>
    </resultMap>
    <select id="queryMenus" resultMap="menuMap">
        SELECT M.* FROM P_MENU M
        WHERE M.P_MENU_ID IS NULL
        ORDER BY M.DISP_SN
    </select>
    <select id="querySubMenus" parameterType="java.util.Map" resultMap="menuMap">
        SELECT M.* FROM P_MENU M
        WHERE
         M.P_MENU_ID=#{P_MENU_ID}
        ORDER BY M.DISP_SN
    </select>
</mapper>